<!DOCTYPE html>
<html lang="en">

{{>header}}

<body>
    <!-- navbar code -->
    {{>navbar}}

    <!-- first page -->

    <div class="first">
        <div class="content1">
            <iframe width="560" height="315" class="frame" src="https://www.youtube.com/embed/eQAEwsct794?si=Iys6iKZ2woZXriWr"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                  
            <div id="hero2">
                <iframe width="560" height="315" class="frame" src="https://www.youtube.com/embed/Gi-rJyDbIn4"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                
            </div>
        </div>

        <!-- second page -->
        <div class="second">
            <p>TOP PREMIUM ADMITS</p>
            <h2>Gateway to the Ivy Leagues</h2>
            <div class="cards">
                
                <div class="card transform">
                    <div class="admitt">
                        <i class="fa-solid fa-crown"></i>Admit
                    </div>
                    <h2>Columbia University</h2>
                    <hr>
                    <div class="card-info">
                        <div class="part">
                            <img src="/images/yocketers.png" alt="">
                            <div class="non-logo">
                                <h2>86+</h2>
                                <p>Yocketers Admitted</p>
                            </div>
                        </div>
                        <div class="part">
                            <img src="/images/coin.png" alt="">
                            <div class="non-logo">
                                <h2>$17.5k</h2>
                                <p>Scholarships Granted</p>
                            </div>
                        </div>
                    </div>
                    <div class="person">
                        <img src="/images/Sharwari.png" alt="">
                        <div class="name-info">
                            <i class="fa-regular fa-user"></i>
                            <div class="name">
                                <p>Sharwari Bhosale</p>
                                Fall 2024
                            </div>
                            <h2 class="more">></h2>
                        </div>
                    </div>
                </div>
                <div class="card transform">
                    <div class="admitt">
                        <i class="fa-solid fa-crown"></i>Admit
                    </div>
                    <h2>Cornell University</h2>
                    <hr>
                    <div class="card-info">
                        <div class="part">
                            <img src="/images/yocketers.png" alt="">
                            <div class="non-logo">
                                <h2>52+</h2>
                                <p>Yocketers Admitted</p>
                            </div>
                        </div>
                        <div class="part">
                            <img src="/images/coin.png" alt="">
                            <div class="non-logo">
                                <h2>$96k</h2>
                                <p>Scholarships Granted</p>
                            </div>
                        </div>
                    </div>
                    <div class="person">
                        <img src="/images/atharva.png" alt="">
                        <div class="name-info">
                            <i class="fa-regular fa-user"></i>
                            <div class="name">
                                <p>Atharva Thodge</p>
                                Fall 2024
                            </div>
                            <h2 class="more">></h2>
                        </div>
                    </div>
                </div>
                <div class="card transform">
                    <div class="admitt">
                        <i class="fa-solid fa-crown"></i>Admit
                    </div>
                    <h2>New York University</h2>
                    <hr>
                    <div class="card-info">
                        <div class="part">
                            <img src="/images/yocketers.png" alt="">
                            <div class="non-logo">
                                <h2>63+</h2>
                                <p>Yocketers Admitted</p>
                            </div>
                        </div>
                        <div class="part">
                            <img src="/images/coin.png" alt="">
                            <div class="non-logo">
                                <h2>$1.2M</h2>
                                <p>Scholarships Granted</p>
                            </div>
                        </div>
                    </div>
                    <div class="person">
                        <img src="/images/Shravan.png" alt="">
                        <div class="name-info">
                            <i class="fa-regular fa-user"></i>
                            <div class="name">
                                <p>Shrawan Khunti</p>
                                Fall 2024
                            </div>
                            <h2 class="more">></h2>
                        </div>
                    </div>
                </div>
                <div class="card transform">
                    <div class="admitt">
                        <i class="fa-solid fa-crown"></i>Admit
                    </div>
                    <h2>University of Califorina, Los Angeles</h2>
                    <hr>
                    <div class="card-info">
                        <div class="part">
                            <img src="/images/yocketers.png" alt="">
                            <div class="non-logo">
                                <h2>29+</h2>
                                <p>Yocketers Admitted</p>
                            </div>
                        </div>
                        <div class="part">
                            <img src="/images/coin.png" alt="">
                            <div class="non-logo">
                                <h2>$207k</h2>
                                <p>Scholarships Granted</p>
                            </div>
                        </div>
                    </div>
                    <div class="person">
                        <img src="/images/prateeka.png" alt="">
                        <div class="name-info">
                            <i class="fa-regular fa-user"></i>
                            <div class="name">
                                <p>Prateeka Rawat</p>
                                Fall 2024
                            </div>
                            <h2 class="more">></h2>
                        </div>
                    </div>
                </div>
                <div class="card transform">
                    <div class="admitt">
                        <i class="fa-solid fa-crown"></i>Admit
                    </div>
                    <h2>John Hopkins University</h2>
                    <hr>
                    <div class="card-info">
                        <div class="part">
                            <img src="/images/yocketers.png" alt="">
                            <div class="non-logo">
                                <h2>29+</h2>
                                <p>Yocketers Admitted</p>
                            </div>
                        </div>
                        <div class="part">
                            <img src="/images/coin.png" alt="">
                            <div class="non-logo">
                                <h2>$207k</h2>
                                <p>Scholarships Granted</p>
                            </div>
                        </div>
                    </div>
                    <div class="person">
                        <img src="/images/atharva.png " alt="">
                        <div class="name-info">
                            <i class="fa-regular fa-user"></i>
                            <div class="name">
                                <p>Kaustabh Rai</p>
                                Fall 2024
                            </div>
                            <h2 class="more">></h2>
                        </div>
                    </div>
                </div>

            </div>

            <button class="connect transform">View All Previous Admits</button>
        </div>

        <!-- third page -->
        <div class="third">
            <div class="upper">
                <p>SMART FEATURES</p>
                <h2>All-Tech For Studying Abroad</h2>
                We have smart features to help you throughout your abroad education journey
            </div>
            <div class="cards-third">
                <div class="card-third transform">
                    <h2>Explore Universities</h2>
                    <p style="color: #697386; padding-bottom: 12px;">Surf through 2000+ universities abroad, all in one
                        place, with easy filter & sort
                        options</p>
                    <img src="/images/universityimage.png" alt="">
                </div>
                <div class="card-third transform">
                    <h2>Test Prep+</h2>
                    <p style="color: #697386; padding-bottom: 12px;">Personalise your GRE prep as you need with live
                        classes, mock tests, practice
                        questions & more</p>
                    <img src="/images/testprep.png" alt="">
                </div>
                <div class="card-third transform">
                    <h2>AI College Finder</h2>
                    <p style="color: #697386; padding-bottom: 12px;">Find the universities & programs that best match
                        your
                        profile with the help of AI</p>
                    <img src="/images/AiCollage.png" alt="">
                </div>
                <div class="card-third transform">
                    <h2>Connect</h2>
                    <p style="color: #697386; padding-bottom: 12px;">Connect with over a million study abroad students &
                        aspirants and build your
                        network</p>
                    <img src="/images/community.png" alt="">
                </div>
                <div class="card-third transform">
                    <h2>Events</h2>
                    <p style="color: #697386; padding-bottom: 12px;">Meet & greet the experts of studying abroad in
                        webinars, events, meet-ups &
                        more</p>
                    <img src="/images/events.png" alt="">
                </div>
                <div class="card-third transform">
                    <h2>Finance</h2>
                    <p style="color: #697386; padding-bottom: 12px;">Check your eligibility and start your loan process
                        with
                        us for 100% free assistance</p>
                    <img src="/images/finance.png" alt="">
                </div>

            </div>
        </div>

        <!-- fourth page -->
        <div style="margin: 5px 0;" class="fourth">
            <div class="fourth-cont">
                <h1><b>Stress-Free Study <br>
                        Abroad Applications: <br>
                        Expert Guidance Awaits</b></h1>
                <p>
                    Get expert study abroad counseling and assistance with your application process. Our team of
                    professionals will provide you with
                    personalized support and guidance
                </p>
                <button class="explore-premium transform">Explore Premium</button>
            </div>
            <img src="/images/Container.png" alt="">
        </div>
        <div class="fifth">
            <div class="upper">
                <p>YOCKET <br>PREMIUM</p>
                <h2>Our Winning Record</h2>
                No tall claims, we back the efficiency of our consultancy with stats. Check for yourselves!
            </div>
            <div class="icons">
                <div class="card-icon transform orange">
                    <img src="/images/successAdmit.png" alt="">
                    <h3 class="orange">15k+</h3>
                    Succesfull Admits
                </div>
                <div class="card-icon transform">
                    <img src="/images/scholarship.png" alt="">
                    <h3>$15 Million+</h3>
                    Scholarships Achieved
                </div>
                <div class="card-icon transform">
                    <img src="/images/loans.png" alt="">
                    <h3>3500 Cr+</h3>
                    Loans Sanctioned
                </div>
                <div class="card-icon transform">
                    <img src="/images/successRate.png" alt="">
                    <h3>98%</h3>
                    View Success Rate
                </div>
            </div>
            <button class="explore-fifth transform">Explore Premium Counselling</button>
        </div>
        <!-- sixth page -->
        <div class="sixth">
            <div class="upper">
                <p>YOCKET EVENTS</p>
                <h2>Whats Happening With Overseas Education</h2>
                Stay up-to-date with the latest updates on overseas education, student life, rules, COVID -19, and many
                more!
            </div>
            <div class="cards-sixth ">
                <div class="card-sixth transform">
                    <div class="image-container">
                        <img src="/images/visa.png" alt="">
                    </div>
                    <p style="color: rgb(55, 55, 187);">Learn & Visa Process</p>
                    <h3>F1 VISA Interview Preparations with Asked Questions</h3>
                    <div class="sixth-detail">
                        <div class="sixth-detail"><i class="fa-regular fa-calendar-days"></i> 5th Jul, 2024 | 12:30 PM -
                            01:30 PM GMT <br></div>

                        <div class="sixth-detail"><i class="fa-solid fa-book"></i>Online Event/webinar <br></div>
                        <div class="sixth-detail"> <i class="fa-solid fa-graduation-cap"></i>Bachelor/Masters only</div>
                    </div>
                </div>
                <div class="card-sixth transform">
                    <div class="image-container">
                        <img src="/images/insider's guide.png" alt="">
                    </div>
                    <p style="color: rgb(187, 209, 19);">Application Process</p>
                    <h3>The Insider's Guide: Dive Deep into ASU,
                        NEU, & Stevens (Spring '25)🚀</h3>
                    <div class="sixth-detail"><i class="fa-regular fa-calendar-days"></i> 5th Jul, 2024 | 12:30 PM -
                        01:30
                        PM GMT <br></div>

                    <div class="sixth-detail"><i class="fa-solid fa-book"></i>Online Event/webinar <br></div>
                    <div class="sixth-detail"> <i class="fa-solid fa-graduation-cap"></i>Bachelor/Masters only</div>

                </div>
                <div class="card-sixth transform">
                    <div class="image-container">
                        <img src="/images/top uni.png" alt="">
                    </div>
                    <p style="color: green;">Basics of Study Abroad</p>
                    <h3>PROFILE BUILDING: TOP 100
                        UNIVERSITIES 2025!</h3>
                    <div class="sixth-detail"><i class="fa-regular fa-calendar-days"></i> 5th Jul, 2024 | 12:30 PM -
                        01:30
                        PM GMT <br></div>

                    <div class="sixth-detail"><i class="fa-solid fa-book"></i>Online Event/webinar <br></div>
                    <div class="sixth-detail"> <i class="fa-solid fa-graduation-cap"></i>Bachelor/Masters only</div>

                </div>
            </div>
            <button class="explore-events transform"><b>Explore more events >></b></button>
        </div>

        <div class="seventh">
            <div class="upper">
                <p>PREMIUM STUDENT REVIEWS</p>
                <h2>Trusted by thousands far and wide</h2>
                <div class="ratingss">
                    <div class="single-rating">
                        <img src="/images/google_rating.png" alt="">
                        <h3>4.6 stars</h3>
                        <p>1,600+ reviews</p>
                    </div>
                    <div class="single-rating">
                        <img src="/images/trustpilot.png" alt="">
                        <h3>4.5 stars</h3>
                        <p>1,200+ reviews</p>
                    </div>
                </div>
            </div>
            <div class="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/carouse1.png" alt="Image 1">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/carouse1.png" alt="Image 2">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/carouse1.png" alt="Image 3">
                    </div>
                </div>
                <button class="carousel-control prev" onclick="prevSlide()">&#10094;</button>
                <button class="carousel-control next" onclick="nextSlide()">&#10095;</button>
            </div>
            <div class="videos">
                <div class="que">
                    <hr>
                    <h2>Watch Yocketers share their experience</h2>
                    <hr>
                </div>
                <div class="video-content">
                    <div class="video-card transform">
                        <div id="hero2">
                            <iframe width="300" height="175" class="frame"
                                src="https://www.youtube.com/embed/mdYRy6tBAsw" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                              
                        </div>
                        <div class="video-info">
                            <h3>Rakshit Grover’s Story</h3>
                            <p>Duke University   2022</p>
                        </div>
                    </div>
                    <div class="video-card transform">
                        <iframe width="300" height="175" class="frame" src="https://www.youtube.com/embed/BW-MdE5PTdg"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <div class="video-info">
                            <h3>Suchit Sahoo’s Story</h3>
                            <p>Columbia University   2022</p>
                        </div>
                    </div>
                    <div class="video-card transform">
                        <iframe width="300" height="175" class="frame" src="https://www.youtube.com/embed/w8mSzdb6tb4"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <div class="video-info">
                            <h3>Somraj Dasgupta’s Story</h3>
                            <p>Duke University   2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- eight page -->
        <div class="eight">
            <div class="que">
                <hr>
                <h2>Frequently Asked Questions</h2>
                <hr>
            </div>
            <div class="faq-section">
                <div class="faq-item" onclick="toggleAnswer(this)">
                    <div class="faq-question"><b>What is Yocket</b></div>
                    <button class="dropdown-btn">+</button>
                </div>
                <div class="faq-answer">Answer</div>

                <div class="faq-item" onclick="toggleAnswer(this)">
                    <div class="faq-question"><b>Does Yocket Provide Paid Study Abroad Counselling</b></div>
                    <button class="dropdown-btn">+</button>
                </div>
                <div class="faq-answer"><b>Answer</b></div>

                <div class="faq-item" onclick="toggleAnswer(this)">
                    <div class="faq-question"><b>What is Yocket Premium</b></div>
                    <button class="dropdown-btn">+</button>
                </div>
                <div class="faq-answer">Answer</div>


                <div class="faq-item" onclick="toggleAnswer(this)">
                    <div class="faq-question"><b>Does Yocket help with GRE preparation too</b></div>
                    <button class="dropdown-btn">+</button>
                </div>
                <div class="faq-answer">Answer</div>

                <div class="faq-item" onclick="toggleAnswer(this)">
                    <div class="faq-question"> <b>Does Yocket help with application to all universities</b></div>
                    <button class="dropdown-btn">+</button>
                </div>
                <div class="faq-answer">Answer</div>

                <div class="faq-item" onclick="toggleAnswer(this)">
                    <div class="faq-question"><b>Why does Yocket charge for its paid counselling</b></div>
                    <button class="dropdown-btn">+</button>
                </div>
                <div class="faq-answer">Answer</div>
            </div>
        </div>
        <div class="nine">
            <div class="getStarted">
                <h2>So, what are you waiting for?<br>Launch your study abroad journey today!</h2>
                <button class="explore-fifth transform" style="padding: 0 4rem;">Let's get Started</button>
            </div>

            <div class="container">
                <div class="left-content">
                    <h1>Download the <span style="color: #ff6600;">Yocket</span> app to get all your study abroad
                        updates on
                        the go!</h1>
                    <p>Just scan the given QR on your phone or visit the store on your mobile and search ‘Yocket’</p>
                    <div class="download-buttons">
                        <a href=""><img src="/images/google play.png" alt="Get it on Google Play"></a>
                        <a href=""><img src="/images/app store.png" alt="Download on the App Store"></a>
                    </div>
                    <div>
                        <img src="/images/qr code.png" alt="QR Code"
                            style="margin-top: 20px; width: 50px; height: 50px;">
                        <p>Scan here to download</p>
                    </div>
                </div>
                <div class="right-content">
                    <img src="/images/MobileFeed.svg.png" alt="Phone Image 1" class="phone-image phone1">
                    <img src="/images/Group.png" alt="Phone Image 2" class="phone-image phone2">
                </div>
            </div>

            <div class="ten">
                <h1><b>Stress-Free Study <br>
                        Abroad Applications: <br>
                        Expert Guidance Awaits</b></h1>
                <br><br><br>
                <button class="explore-premium transform">Explore premium</button>
            </div>
            <!-- foote -->
            <div class="eleven">
                <footer class="footer">
                    <div class="column">
                        <div class="logo">
                            <img style="border-radius: 50%;" src="/images/logo footer.png" alt="Yocket Logo">
                        </div>
                        <div class="social-media">
                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                        <p>© 2024 Yocket. All rights reserved</p>
                        <!-- <h3>Contact Us</h3>
                <p>Want to discuss your goals? Our experts are here to make it happen.</p> -->
                        <h3>Contact Us</h3>
                        <p>Want to discuss your goals? Our experts are here to make it happen.</p>
                        <div class="contact">
                            <a href="tel:1234567890">
                                <span class="icon">&#128222;</span>
                                <span>Call now</span>
                            </a>
                        </div>
                    </div>
                    <div class="column">
                        <h3>Company</h3>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Help Center</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="column">
                        <h3>Popular Courses</h3>
                        <ul>
                            <li><a href="#">Masters</a></li>
                            <li><a href="#">Computer Science</a></li>
                            <li><a href="#">MBA</a></li>
                            <li><a href="#">Data Science & Analytics</a></li>
                            <li><a href="#">Business Administration</a></li>
                            <li><a href="#">Business Analytics</a></li>
                            <li><a href="#">Computer Engineering</a></li>
                            <li><a href="#">See all courses</a></li>
                        </ul>
                    </div>
                    <div class="column">
                        <h3>Top Universities</h3>
                        <ul>
                            <li><a href="#">By Country</a></li>
                            <li><a href="#">USA</a></li>
                            <li><a href="#">Canada</a></li>
                            <li><a href="#">UK</a></li>
                            <li><a href="#">Australia</a></li>
                            <li><a href="#">Germany</a></li>
                            <li><a href="#">By Course</a></li>
                            <li><a href="#">MBA</a></li>
                            <li><a href="#">Computer Science</a></li>
                            <li><a href="#">Industrial Engineering</a></li>
                            <li><a href="#">See all universities</a></li>
                        </ul>
                    </div>
                    <!-- <div class="column">
                <h3>Contact Us</h3>
                <p>Want to discuss your goals? Our experts are here to make it happen.</p>
                <div class="contact">
                    <a href="tel:1234567890">
                        <span class="icon">&#128222;</span>
                        <span>Call now</span>
                    </a>
                </div>
            </div> -->
                </footer>
            </div>
        </div>
</body>
<script>
    function toggleAnswer(faqItem) {
        const answer = faqItem.nextElementSibling;
        answer.classList.toggle('visible');
        const btn = faqItem.querySelector('.dropdown-btn');
        btn.textContent = btn.textContent === '+' ? '-' : '+';
    }
</script>
    
</html>