<style>
    .loginPartial {
        width: 100%;
        background-color: #FDF2E0;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .loginPartial>img{
        width: 30%;
    }
    h1 {
        font-size: 3rem;
    }

    ul {
        list-style-type: none;
        text-decoration: none;
    }

    ul>li {
        font-size: 1.4rem;
        margin: 2rem 0;
    }
</style>

<div class="loginPartial">
    <img src="/images/loginlogo.png" alt="" class="logo">
    <h1><b>A seamless journey to your dream university!</b></h1>
    <ul>
        <li>Discover universities instantly that are best suited for you and your preferences.</li>
        <li>Join a community of 800k+ aspirants and pursue your study abroad dream with ease.</li>
        <li>Access insightful study abroad articles, events, and more curated by experts.</li>
        <li>Board the flight to the best universities with Yocket Premium Counselling.</li>
    </ul>

</div>